<a href="https://colab.research.google.com/github/nofiyamillatina/Praktikum-Algoritma/blob/main/Tugas_Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Use the range

range(5)

range(0, 5)

In [ ]:
# for loop example
dates= [2023,2024,2025]
N= len(dates)
for i in range(N):
    print(dates[i])

2023
2024
2025

In [ ]:
# example of for loop

for i in range(-2,5):
    print (i)

-2
-1
0
1
2
3
4

In [ ]:
for year in dates:
    print(year)

2023
2024
2025

In [ ]:
# use for loop to change th elements in list
squares = ['red','yellow','green','purple','blue']

for i in range(0, 5):
  print("Before squares ", i, 'is', squares[i])
  squares[i]='weight'
  print("After squares ", i, 'is', squares[i])

Before squares  0 is red
After squares  0 is weight
Before squares  1 is yellow
After squares  1 is weight
Before squares  2 is green
After squares  2 is weight
Before squares  3 is purple
After squares  3 is weight
Before squares  4 is blue
After squares  4 is weight

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red','yellow','green','purple','blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [52]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [57]:
# outer loop
for i in range(1, 10):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 10):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [58]:
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

In [59]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [60]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [61]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [62]:
print('Show Perfect number fom 1 to 100')
n = 2
# outer while loop
while n <= 100:
    x_sum = 0
    # inner for loop
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('Perfect number:', n)
    n += 1

Show Perfect number fom 1 to 100
Perfect number: 6
Perfect number: 28

Weekly Exercise 1</h3>

Buatlah kode program untuk dapat menampilkan sebagai berikut :

<pre>
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
</pre>

Jumlah baris pada gambar di atas berdasarkan angka yang dimasukkan oleh user.

<br>
Sebagai contoh, apabila user memasukkan angka 2, maka tampilan menjadi:
<pre>
 *
* *
</pre>

<br>
Apabila user memasukkan angka 3, maka tampilan menjadi:
<pre>
  *
 * *
* * *
</pre>

In [44]:
# memasukkan angka
tinggi=int(input("Masukkan tinggi bintang: "))

# mencetak bintang
for i in range(tinggi):
  for j in range(tinggi-i-1):
    print(' ', end='')
  for bintang in range(i+1):
    print('* ', end='')
  print()

Masukkan tinggi bintang: 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

Weekly Exercise 2</h3>

Buatlah kode program untuk dapat menampilkan segitiga pascal sebagai berikut :

<pre>
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
</pre>

Jumlah baris pada gambar di atas berdasarkan angka yang dimasukkan oleh user.

<br>
Sebagai contoh, apabila user memasukkan angka 2, maka tampilan menjadi:
<pre>
 1
1 1
</pre>

<br>
Apabila user memasukkan angka 3, maka tampilan menjadi:
<pre>
  1
 1 1
1 2 1
</pre>

In [50]:
# Memasukkan input
jumlah_baris=int(input("Masukkan jumlah baris: "))

# Membuat list untuk menyimpan baris segitiga pascal
pascal=[]

# Mencetak segitiga pascal
for i in range(jumlah_baris):
# Membuat baris baru
  baris= [1] * (i+1)
# Menghitung nilai untuk baris yang lebih dari 1
  for j in range(1, i):
    baris[j] = pascal[i-1][j-1] + pascal[i-1][j]
  pascal.append(baris)

# Mencetak segitiga pascal
for i in range(jumlah_baris):
# Menampilkan spasi untuk meratakan segitiga
  print('  ' * (jumlah_baris - i-1), end='')
# Menampilkan angka di baris i
  print('   '.join(map(str, pascal[i])))
  print()

Masukkan jumlah baris: 5
        1

      1   1

    1   2   1

  1   3   3   1

1   4   6   4   1

Weekly Exercise 3</h3>

Buatlah kode program untuk dapat menampilkan jumlah angka dalam satu baris segitiga pascal.

Sebagai contoh, apabila user memasukkan angka 2, maka angka dalam satu baris segitiga pascal adalah:
<pre>
1 1
</pre>

Sehingga perlu menjumlahkan 1 + 1, maka output dari program adalah 2


Apabila user memasukkan angka 3, maka angka dalam satu baris segitiga pascal adalah:
<pre>
1 2 1
</pre>
Sehingga perlu menjumlahkan 1 + 2 + 1, maka output dari program adalah 4

In [51]:
# Memasukkan input
jumlah_baris=int(input("Masukkan jumlah baris: "))

# Membuat list untuk menyimpan baris segitiga pascal
pascal=[]

for i in range(jumlah_baris):
# Membuat baris baru
  baris= [1] * (i+1)
# Menghitung nilai untuk baris yang lebih dari 1
  for j in range(1, i):
     baris[j] = pascal[i-1][j-1] + pascal[i-1][j]
# Menambahkan baris kedalam segitiga pascal
  pascal.append(baris)

# Mengambil baris akhir dan menjumlahkannya
jumlah_angka = sum (pascal[jumlah_baris-1])

# Mencetak hasil
print("Jumlah angka dalam satu baris:", jumlah_angka)

Masukkan jumlah baris: 5
Jumlah angka dalam satu baris: 16