<a href="https://colab.research.google.com/github/nofiyamillatina/Praktikum-Algoritma/blob/main/Tugas_Week_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class MyClass:
  x=5

In [ ]:
p1 = MyClass()
print(p1.x)

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Hechan", 24)

print(p1.name)
print(p1.age)

Hechan
24

In [ ]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("Hechan", 24)

print(p1)

Hechan(24)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name + " and my age is " + str(self.age))

p1 = Person("Fiya", 19)
p1.myfunc()

Hello my name is Fiya and my age is 19

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Fiya", 19)
p1.myfunc()

Hello my name is Fiya

In [1]:
#Set the age of p1 to 40:

p1.age = 40

NameError: name 'p1' is not defined

In [ ]:
class Person:
  def __init__(self, fname, Iname):
    self.firstname = fname
    self.lastname = Iname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("Fiya", "Millatina")
x.printname()

Fiya Millatina

In [ ]:
class Student(Person):
  pass

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):

SyntaxError: incomplete input (<ipython-input-22-74abed19833c>, line 3)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2023)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n

In [ ]:
mytuple = ("apple","banana","cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [1]:
class Mynumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = Mynumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [2]:
# stop after 20 iteration
class Mynumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = Mynumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
x = "Hello World!"
print(len(x))

12

In [4]:
mytuple = ("apple", "banana", "cherry")
print(len(mytuple))

3

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

3

In [10]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")
boat1 = Boat("Ibiza", "Touring 20")
plane1 = Plane("Boeing", "747")

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [11]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

Weekly Exercise 1</h3>

Seorang penjual alat tulis menjual 10 bolpoint, 10 pensil dan 10 penghapus. 1 biji bolpoint
harganya Rp. 2000, 1 biji pensil harganya Rp. 1.000 dan 1 penghapus harganya Rp. 500.


Gunakanlah objek untuk menyelesaikan soal dibawah ini!
<li>Buatlah method untuk memasukkan (setter) nama, stok, harga satuan, dan harga (stok x harga satuan) alat tulis tersebut!</li>
<li>Buatlah method untuk menampilkan (getter) nama, stok, harga satuan, dan harga (stok x harga satuan) alat tulis tersebut!</li>
<li>Buatlah method Total Harga (setter getter) untuk mengelola transaksi penjualan!

In [34]:
class AlatTulis:
    def __init__(self, nama, stok, harga_satuan):
        self.nama = nama
        self.stok = stok
        self.harga_satuan = harga_satuan
        self.harga_total = self.stok * self.harga_satuan  # Harga total berdasarkan stok dan harga satuan

    # Setter untuk memasukkan (set) nama, stok, harga satuan
    def set_nama(self, nama):
        self.nama = nama

    def set_stok(self, stok):
        self.stok = stok

    def set_harga_satuan(self, harga_satuan):
        self.harga_satuan = harga_satuan

    # Getter untuk menampilkan (get) nama, stok, harga satuan, dan harga total
    def get_nama(self):
        return self.nama

    def get_stok(self):
        return self.stok

    def get_harga_satuan(self):
        return self.harga_satuan

    def get_harga_total(self):
        return self.harga_total

    # Method untuk mengelola transaksi penjualan
    def transaksi_penjualan(self, jumlah):
        if jumlah <= self.stok:
           print(f"{jumlah} {self.nama} berhasil terjual!")
           self.stok -= jumlah
           return True
        else:
            print(f"Stok tidak mencukupi, Stok saat ini: {self.stok}")
            return False


# Membuat objek untuk bolpoint, pensil, dan penghapus
daftar_produk = [
  AlatTulis("Bolpoint", 10, 2000),
  AlatTulis("Pensil", 10, 1000),
  AlatTulis("Penghapus", 10, 500)
]


# Menampilkan Produk
print(" -- DAFTAR PRODUK-- ")
def tampilkan_produk(produk):
    print(f"Nama: {produk.get_nama()}")
    print(f"Stok: {produk.get_stok()}")
    print(f"Harga Satuan: {produk.get_harga_satuan()}")
    print(f"Harga Total: {produk.get_harga_total()}")
    print()

def tampilkan_semua_produk():
  for produk in daftar_produk:
    tampilkan_produk(produk)
tampilkan_semua_produk()

# Pembelian Produk
print(" -- PEMBELIAN PRODUK-- ")
nama = input("Masukkan nama produk: ")
jumlah = int(input("Masukkan jumlah produk yang ingin dibeli: "))

# Mencari nama Produk
nama_produk = None
for produk in daftar_produk:
    if produk.get_nama() == nama:
        nama_produk = produk
        break
if nama_produk:
  # Menghitung harga yang harus dibayar pembeli
  if nama_produk.transaksi_penjualan(jumlah):
    total_harga = jumlah * nama_produk.get_harga_satuan()
    print(f"Total harga yang harus dibayar: {total_harga}")
  else:
    print("Transaksi Gagal!")

else:
  print("Produk tidak ditemukan.")

 -- DAFTAR PRODUK--
Nama: Bolpoint
Stok: 10
Harga Satuan: 2000
Harga Total: 20000

Nama: Pensil
Stok: 10
Harga Satuan: 1000
Harga Total: 10000

Nama: Penghapus
Stok: 10
Harga Satuan: 500
Harga Total: 5000

 -- PEMBELIAN PRODUK--
Masukkan nama produk: Bolpoint
Masukkan jumlah produk yang ingin dibeli: 3
3 Bolpoint berhasil terjual!
Total harga yang harus dibayar: 6000