<a href="https://colab.research.google.com/github/nofiyamillatina/Praktikum-Algoritma/blob/main/Tugas_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#integer
11

11

In [ ]:
#float
2.14

2.14

In [ ]:
#string

#print("Hallo semua")
#print("Hallo Gaiss")

"Hallo semua"
#"Hallo Gaiss"

'Hallo semua'

In [ ]:
# Type of 12

type(15)

int

In [ ]:
# Type of "Hallo semua"

type("Hallo semua")

str

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [ ]:
# Konversi dari integer ke float
float(4)

4.0

In [ ]:
# Konversi dari string ke integer
int('15')

15

In [ ]:
# Konversi string ke integer tetapi eror
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [ ]:
# Konversi integer ke string
str(20)

'20'

In [ ]:
# Konversi float ke string
str(4.5)

'4.5'

In [2]:
# value True
True

True

In [10]:
# Type of True
type(True)

bool

In [11]:
# Konversi True ke int
int(True)

1

In [12]:
# Konversi True ke float
float(True)

1.0

In [13]:
# Addition operation expression

#43 + 60 + 16 + 41

type(10.55+10.5-5)

float

In [14]:
# Subtraction operation expression

type(50 - 60)

int

In [15]:
# Multiplication operation expression

5 * 5

25

In [16]:
# Division operation expression

25 / 5

5.0

In [17]:
# Integer division operation expression

25 // 5

5

In [18]:
# Print out the value in variable

x = 43 + 60 + 16 + 41
x

160

In [19]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [20]:
# Overwrite variable with new value

x = x / 60
print(x)

2.6666666666666665

In [21]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [22]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [24]:
# Complicate expression

total_hours = (43 + 42 + 57) //60  # Total hours in a single expression
total_hours

2

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 *(panjang + lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print("panjang =" , panjang)
print("lebar =" ,  lebar)
print("tinggi = " ,  tinggi)
print("keliling = " , keliling)
print("luas =", luas)
print("volume = " , volume)

panjang = 20.5
lebar = 25
tinggi =  10
keliling =  91.0
luas = 512.5
volume =  5125.0

In [ ]:
meannilaiShafira = ((85+75)/2)
print(meannilaiShafira)

80.0

In [ ]:
jumlahnilaiHanifdanAndi = ((75+90+70+75))
print(jumlahnilaiHanifdanAndi)

310

In [9]:
# Data Mahasiswa
data = {
         'Nama': ['Widya', 'Dhanar', 'Hikma', 'Nedia'],
         'Kalkulus 1': [85, 85, 80, 95],
         'Metode Statistika': [85,85,75,80]
}
# Menghitung rata rata nilai Kalkulus 1
MeanKalkulus = sum(data['Kalkulus 1'])/ len(data['Kalkulus 1'])

# Menghiitung rata rata Metode statistika
MeanMetodeStatistika = sum(data['Metode Statistika']) / len(data['Metode Statistika'])

# Menampilkan Hasil
print(f"Rata rata nilai Kalkulus 1: {MeanKalkulus}")
print(f"Rata rata nilai Metode Statistika: {MeanMetodeStatistika}")

Rata rata nilai Kalkulus 1: 86.25
Rata rata nilai Metode Statistika: 81.25

In [ ]:
meannilaiKalkulusmahasiswa =((85+80+75+95+85+75+70+85+80)/9)
print(meannilaiKalkulusmahasiswa)

81.11111111111111

In [ ]:
meannilaiStatistikamahasiswa = ((75+90+80+80+85+90+75+85+75)/9)
print(meannilaiStatistikamahasiswa)

81.66666666666667

In [ ]:
from ctypes import string_at
jamkerjaperhari = 8
harikerja = 31
haritidakmasuk = 3
gajiperhari = 30000
tunjangan = 10
tambahanlembur = 5
gajitambahanlembur = 10000

# jumlah jam kerja Dwi
HarikerjaaktifDwi = harikerja-haritidakmasuk
totaljamkerjaDwi = HarikerjaaktifDwi*jamkerjaperhari

# Gaji Dwi pada Bulan Agustus
GajiDwibulanAgustus = totaljamkerjaDwi*gajiperhari

# Jumlah tunjangan yang diterima Dwi
TunjanganDwi = (tunjangan/100)*GajiDwibulanAgustus

# Gaji tambahan lembur
gajitambahanlembur = tambahanlembur*gajitambahanlembur

# Gaji total Dwi pada bulan Agustus
Gajitotalbulanagustus = GajiDwibulanAgustus+TunjanganDwi+gajitambahanlembur

# menampilkan Hasil
print( f"Gaji pokok Dwi pada bulan Agustus: Rp {GajiDwibulanAgustus :,}")
print(f"Tunjangan yang diterima Dwi pada bulan Agustus: Rp {TunjanganDwi:,}")
print(f"Total gaji yang diterima Dwi pada bulan Agustus: Rp {Gajitotalbulanagustus:,}")

Gaji pokok Dwi pada bulan Agustus: Rp 6,720,000
Tunjangan yang diterima Dwi pada bulan Agustus: Rp 672,000.0
Total gaji yang diterima Dwi pada bulan Agustus: Rp 7,442,000.0