<a href="https://colab.research.google.com/github/nofiyamillatina/Praktikum-Algoritma/blob/main/Tugas_Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# list allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
print(len(thislist))

5

In [ ]:
# string, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
# string, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)

['apple', 'banana', 'cherry']

In [ ]:
# what is the data type of a list?
mylist= ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
# using the list () constructor to make a list
thislist = list (("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
print(thislist[0])

apple

In [ ]:
print(thislist[-2])

banana

In [ ]:
# return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi":
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#This example returns the items from "cherry" to the end:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
#Check if "apple" is present in the list:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else :
  print("No")

Yes, 'apple' is in the fruits list

In [ ]:
#Check if "apple" is present in the list:
if "durian" in thislist:
  print("Yes, 'durian' is in the fruits list")
else :
  print("No")

No

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the second item:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the values "blackcurrant" and "cherry" with the values "banana" and "watermelon":
thislist[1:3] = ["banana", "watermelon"]
print(thislist)

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [38]:
#Insert "cherry" as the third item:
thislist.insert(2, "cherry")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [39]:
#Using the append() method to append an item:

thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [40]:
#Add the elements of tropical to thislist:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'watermelon', 'orange', 'kiwi', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [5]:
#Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
#A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [4]:
#Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [7]:
#A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [2]:
#Create and print a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
#Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Weekly Exercise 2</h3>
- Buatlah dan tentukan tipe collection untuk mengelola data kalian dengan rincian di bawah :<br/>
    Nama : nama mahasiswa <br/>
    Kelas : kelas mahasiswa <br/>
    Tanggal Lahir : tanggal lahir mahasiswa <br/>
    no hp : no hp mahasiswa <br/>
    alamat : alamat mahasiswa <br/>
    Hobi : <br/>
    1. Hobi 1 <br/>
    2. Hobi 2 <br/>
    3. dst <br/>
- Tampilkan seluruh data dengan teknik perulangan

In [1]:
# Nama Mahasiswa
mahasiswa_list = [
    {
        "nama": "Nofiya Millatina",
        "kelas": "Rombel 1",
        "tanggal_lahir": "Magelang, 15 Juli 2005",
        "no_hp": "0882003809375",
        "alamat": "Krajan 1, Rt 07 Rw 02, Grabag Magelang",
        "hobi": ["Membaca buku", "Mendaki Gunung", "Mendengarkan Musik"]  # Hobi bisa diisi berapapun
    }
]

# Menampilkan seluruh data
for mahasiswa in mahasiswa_list:
    print(f"Nama          : {mahasiswa['nama']}")
    print(f"Kelas         : {mahasiswa['kelas']}")
    print(f"Tanggal Lahir : {mahasiswa['tanggal_lahir']}")
    print(f"No HP         : {mahasiswa['no_hp']}")
    print(f"Alamat        : {mahasiswa['alamat']}")
    print("Hobi          :")

    # Menampilkan semua hobi
    for index, hobi in enumerate(mahasiswa['hobi'], start=1):
        print(f" - Hobi {index}: {hobi}")

    print()  # Baris kosong untuk pemisah

Nama          : Nofiya Millatina
Kelas         : Rombel 1
Tanggal Lahir : Magelang, 15 Juli 2005
No HP         : 0882003809375
Alamat        : Krajan 1, Rt 07 Rw 02, Grabag Magelang
Hobi          :
 - Hobi 1: Membaca buku
 - Hobi 2: Mendaki Gunung
 - Hobi 3: Mendengarkan Musik